{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>哦啦网</title>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">		
	</head>

	<body>
		<!-- 引入导航栏 -->
	    {% include 'header.html' %}
	    
		
		<div class="container">
			<div class="page-header">
				{% block header %}{% endblock header %}
			</div>
			<div>
				<!-- 预留具体页面的位置 -->
				{% block content %}{% endblock content %}
			</div>			
		</div>		
		<!-- 引入注脚 -->
    	{% include 'footer.html' %}    	
    	<!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
	    <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
	    <script src="{% static 'jquery/kindeditor/kindeditor-all.js' %}"></script>
	    <script src="{% static 'popper/popper-1.14.4.js' %}"></script>    
	    <!-- 引入bootstrap的js文件 -->
	    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</body>
</html>