{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; www.ohlaa.com 2019   
        <script type="text/javascript">
        if 
            (localStorage.pagecount)
            {localStorage.pagecount=Number(localStorage.pagecount) +1;}
        else
            {localStorage.pagecount=1;}
            document.write("访问数: " + localStorage.pagecount );
        </script>
        </p>
    </div>
</footer>
